.container {
    padding-top: 40px;
    width: 100%;
    height: 1940px;
    background-image: url(../images/l1.png), url(../images/l2.png);
    background-color: #f7f7f8;
    background-repeat: repeat-x;
}
.container .banner {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 543px;
}
.container .banner .banner-img {
    width: 1200px;
    height: 543px;
    border-radius: 5px;
}
.container .banner .logo {
    position: absolute;
    left: 99px;
    top: 66px;
    z-index: 1;
}
.container .banner .ford-logo {
    position: absolute;
    right: 72px;
    bottom: -57px;
    z-index: 1;
}
.container .content {
    position: relative;
    overflow: hidden;
    width: 1200px;
    height: 1397px;
    margin: 0 auto;
}
.container .content .event-registration {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 123px;
    padding-left: 24px;
    width: 445px;
    height: 457px;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 1px 1px 10px 0px #e4e4e5, -1px 1px 10px 0px #e4e4e5;
}
.container .content .event-registration .sign-up {
    position: absolute;
    top: 48px;
    left: 149px;
}
.container .content .event-registration p {
    height: 40px;
    font-size: 15px;
    color: #333333;
    font-family: '黑体';
    line-height: 40px;
    margin-bottom: 30px;
}
.container .content .event-registration label {
    white-space: nowrap;
}
.container .content .event-registration p label {
    float: left;
}
.container .content .event-registration p input {
    float: left;
}
.container .content .event-registration p label.for-name {
    width: 95px;
}
.container .content .event-registration p #username {
    width: 152px;
    height: 38px;
    padding-left: 15px;
    margin-right: 20px;
    border: none;
    border-top: 2px solid #e8e7ea;
    border-radius: 7px;
    color: #777777;
    background: #f7f7f7;
    outline: none;
}
.container .content .event-registration p input[type="radio"] {
    margin: 14px 6px 0 0;
    outline: none;
}
.container .content .event-registration p label.for-sex {
    margin-right: 20px;
}
.container .content .event-registration p label.for-phone {
    width: 95px;
}
.container .content .event-registration p #phonenumber {
    width: 299px;
    height: 38px;
    padding-left: 15px;
    border: none;
    border-top: 2px solid #e8e7ea;
    border-radius: 7px;
    color: #777777;
    background: #f7f7f7;
    outline: none;
}
.container .content .event-registration>div {
    height: 40px;
    font-size: 15px;
    color: #333333;
    font-family: '黑体';
    line-height: 40px;
    margin-bottom: 30px;
}
.container .content .event-registration>div:first-of-type label.for-address {
    float: left;
    width: 95px;
}
.container .content .event-registration>div:first-of-type .address-choice {
    position: relative;
    float: left;
    width: 150px;
    height: 38px;
    margin-right: 14px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体";
    border-top: 2px solid #e8e7ea;
    border-radius: 7px;
    background:url("../images/select.png") 116px center no-repeat;
    background-color: #f7f7f7;
}
.container .content .event-registration>div:first-of-type .address-choice #provice {
    width: 100px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 38px;
    color: #777777;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container .content .event-registration>div:first-of-type .address-choice #city {
    width: 100px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 38px;
    color: #777777;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container .content .event-registration div:first-of-type .address-choice ul {
    position: absolute;
    top: 34px;
    z-index: 1;
    width: 115px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 14px;
    color: #777777;
    background-color: #f7f7f7;
    border-bottom: 2px solid #e8e7ea;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
}
.container .content .event-registration div:first-of-type .address-choice ul li {
    width: 115px;
    height: 30px;
    line-height: 30px;
    border-top: 1px dashed #e8e7ea;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container .content .event-registration>div:nth-of-type(2) {
    margin-bottom: 34px;
}
.container .content .event-registration>div:nth-of-type(2) label.for-distributor {
    float: left;
    width: 95px;
}
.container .content .event-registration>div:nth-of-type(2) .distributor-select {
    position: relative;
    float: left;
    width: 314px;
    height: 38px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体";
    border-top: 2px solid #e8e7ea;
    border-radius: 7px;
    background:url("../images/select.png") 280px center no-repeat;
    background-color: #f7f7f7;
}
.container .content .event-registration>div:nth-of-type(2) .distributor-select #distributor {
    width: 265px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 38px;
    color: #777777;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container .content .event-registration>div:nth-of-type(2) .distributor-select ul {
    position: absolute;
    top: 34px;
    z-index: 1;
    width: 279px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 14px;
    color: #777777;
    background-color: #f7f7f7;
    border-bottom: 2px solid #e8e7ea;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
}
.container .content .event-registration>div:nth-of-type(2) .distributor-select ul li {
    width: 279px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border-top: 1px dashed #e8e7ea;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container .content .event-registration>div:nth-of-type(3) {
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
}
.container .content .event-registration>div:nth-of-type(3) #agreement {
    display: block;
    float: left;
    width: 16px;
    height: 14px;
    margin-top: 1px;
    border: none;
    border-top: 2px solid #e8e7ea;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
}
.container .content .event-registration>div:nth-of-type(3) label {
    float: left;
    margin-right: 3px;
}
.container .content .event-registration>div:nth-of-type(3) span:first-of-type {
    color: #1c88d2;
}
.container .content .event-registration>div:nth-of-type(3) a {
    width: 100px;
    color: #1c88d2;
    white-space: nowrap;
    border-bottom: 1px solid #1c88d2;
}
.container .content .event-registration p:nth-of-type(3) {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #b2b2b2;
    margin-bottom: 40px;
}
.container .content .event-registration #submit {
    width: 314px;
    height: 50px;
    margin-left: 55px;
    font-size: 16px;
    color: #ffffff;
    line-height: 50px;
    font-family: '黑体';
    background: url(../images/button.png) no-repeat;
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
} 


.footer {
    width: 100%;
    height: 286px;
}